<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="	https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.1/css/all.css">
    <title>EaziCart | Home</title>
</head>
<body>
        <div class="header">
            <div class="head1">
                <div class="sub-header1">
                    <a href="/"><img src="./img/EaziCart logo-White.svg" alt="logo" class="logo"></a> 
                </div>
                <div class="sub-header2">
                     <ul id="top">
                        <% if (currentUser) { %>
                            <li id="li" class="drip-down"><i class="fas fa-user"> <%= currentUser.name() %></i><i class="fas fa-angle-down"></i>
                                <div class="dropdown">
                                    <ul>
                                        <li id="drop-txt click"><a href="/logout" id="login-txt"><i class="fas dud"></i>Sign Out</a></li>
                          <li id="drop-txt"><a href=#><i class="fas fa-user dud"></i> My Account</a></li>
                          <li id="drop-txt"><a href="/contact-us"><i class="fas fa-comment-alt dud"></i> Contact Preference</a></li>
                          <li id="drop-txt"><a href="/logout"><i class="fas  dud"></i> Sign Out</a></li>

                                  </ul>
                    </div>
                            </li>
                            

                            <% } else { %>
                                <a href="/login">
                                    <li id="li" class="drip-down"><i class="fas fa-user"></i>Login/Sign up
                                    </li></a>
                                
                                <% } %>
                                
                         
                            <% if(session.cart) {%>
                                <a href="/carts"><li id="li"><i class="fas fa-heart"></i>Saved Items
                                       </li></a>
                                
                            <% } else { %>
                                <li id="li"><i class="fas fa-heart"></i>Saved Items
                                   </li>
                                <% } %>
                        
                      
                         <li id="li"><i class="fas fa-bell"></i>Alerts</li>
                         <a href="/about-us"><li id="li"><i class="far fa-question-circle"></i>Help</li></a>
                     </ul>
                </div>
            </div>          
        </div>
       


        <div class="main-container">
            <div class="first-part">
                <div id="background">
                    <div class="head2">
                
                        <ul id="below">
                            <li id="slide-in" class="cursor">All Categories<i class="fas fa-bars"></i>
                            
                                <div class="dropsheets">
                                    <div class="dropsheet-1">
                                        <div id="ds-boc">
                                           <div id="mini-box">
                                               <a href="/category-phones" id="mb-btxt"> <p id="mb-btxt">Phones <i class="fas fa-chevron-right orange"></i></p></a>
                                              
                                               <a href="/androids" id="mb-stxt">
                                                <p id="mb-stxt">Android</p></a>

                                                <a href="/iOS-apple" id="mb-stxt"><p id="mb-stxt">iOS Phones</p></a>

                                                <a href="/phone-accessories" id="mb-stxt">
                                                    <p id="mb-stxt cursor">Phone Accessories</p>
                                                </a>
                                              

                                               
                                               
                                           </div>
                                           <div id="mini-box">
                                               <a href="/category-laptops" id="mb-btxt">
                                                <p id="mb-btxt">Computers & Accessories <i class="fas fa-chevron-right orange"></i></p></a>
                                              
                                                <a href="/category-laptops" id="mb-stxt"><p id="mb-stxt">Laptops</p></a>
                                               
                                                <a href="/category-laptops" id="mb-stxt">
                                                    <p id="mb-stxt">Computer Accessories</p></a>
                                               
                                           </div>
                                           <div id="mini-box">
                                            <a href="/category-electronics" id="mb-btxt">
                                             <p id="mb-btxt">Electronics <i class="fas fa-chevron-right orange"></i></p></a>
                                           
                                             <a href="/televisions" id="mb-stxt"><p id="mb-stxt">Televisions</p></a>
                                            
                                             <a href="/category-laptops" id="mb-stxt">
                                                 <p id="mb-stxt"></p></a>
                                            
                                           </div>

                    
                                        </div>
   
                                        <div id="ds-boc">
                                           <div id="mini-box"></div>
                                           <div id="mini-box"></div>
                                           <div id="mini-box"></div>
                                        </div>
                                       
                                    </div>
                                    <div class="dropsheet-2">
                                       <a href="/products"><p id="ds2-allcat">See all categories <i class="fas fa-chevron-right orange"></i></p></a>
                                    </div>
   
   
                                </div>
                            
                            
                            </li> 


                         <li><a href="/category-phones"><i class="fas fa-mobile"></i>Phones</a></li>

                         <li><a href="/category-laptops"><i class="fas fa-laptop"></i>Computers & Accessories</a></li>

                         <li><a href="/category-electronics"><i class="fas fa-tv"></i>Eletronics</a></li>

                           
                             <li id="cross"><i class="fas fa-tshirt"></i>Fashion</li>
                            <li id="cross"><i class="fas fa-home"></i>Home & Kitchen</li>
                            <li id="cross"><i class="far fa-building"></i>Office</li>
                        </ul>
                         
                     </div>

                     <div id="sub-part">
                        <p class="intro">Find Deals, Discounts and Compare Prices from Multiple Stores</p>
                            <form id="search-form" action="/search" method="GET">
                                <div id="dropdown">
                                    <select id="abtype" name="abtype">
                                        <option selected>Categories</option>
                                        <option value="Phones">Phones</option>
                                        <option value="Fashion">Fashion</option>
                                        <option value="Office">Office</option>
                                        <option value="HomeKitchen">Homes & Kitchen</option>
                                        <option value="Eletronics">Eletronics</option>
                                        <option value="Computers">Computers</option>
                                    </select>
                                </div>
                                <input type="text" name="dsearch" id="search-input" placeholder="What Do You Want To Find?"><button type="submit" id="search-btn"><i class="fas fa-search"></i></button>
                            </form>
                    </div>

                </div>

                <div id="sup-part">
                    <div class="sub-footer">
                        <div class="contact">
                            <div class="text-mail">
                                <p id="support">Never miss a deal.</p>
                                <p id="mail">Get the latest deals and exclusive offers sent to your inbox.</p>
                            </div>
                        </div>
                        <div class="subscribe">
                            
                            <form id="new-form">
                                <input type="text" id="sub-inp" placeholder="Email Address"><button type="submit" id="sub-btn">GET DEALS</button>
                            </form>
                        </div>
        
                    </div>
                    
                </div>
                 
            </div>
   

            <div class="second-part">

                <div class="firstfour">
                    <div class="firbox">
                        <div class="firbox-heading">
                            <p class="firbox-btxt">Today’s Deals</p>
                            <p class="firbox-stxt">View More<i class="fas fa-chevron-right"></i></p>
                        </div>
                        <div class="firbox-gallery">

                            <% if(deals.length > 0) { %>
                                <% let newArray = deals.slice(0, 5) %>
                                <% newArray.forEach(deal => { %>

                                   <!----> 

                                        <div class="firbox-box">

                                            <% if(deal.discount){%>
                                                <div id="rectangle"><%= deal.discount%></div>


                                                <% } %>



                                                <a href="/phones/<%= deal.name%>">      <img src="<%= deal.img %>" alt="demo" class="fir-img">  </a>

                                            <% if(deal.vendor) { %>
                                            
                                                <img src="<%= deal.vendor %>" alt="vendor-logo" class="product-logo">
                                                <% } else { %>
                                                    <img aria-describedby="caption-attachment-27644" class="product-logo" src="https://cdn.freelogovectors.net/wp-content/uploads/2019/02/jumia-logo.png" alt="Jumia Logo png" width="380" height="84" title="Jumia Logo png image">
                
                
                                                    <% } %>


                                                    <a href="/phones/<%= deal.name%>"> <p id="price-box"><%= deal.name.substring(0,50) %></p>
                                                    </a>

                                            
                                            <p id="new-price-box"><%= deal.price %></p>
                                            <p id="old-price-box"><%= deal.old_price %></p>
                                        </div>

                            <!-- -->       

                                    <% }) %>
                                    <% } %>

                           

                            
                           
                        </div>
                        
                    </div>
                
                </div> 
            
            
                <div class="firstfour">
                    
                            <% if(recents) { %>
                                <div class="firbox">
                                    <div class="firbox-heading">
                                        <p class="firbox-btxt">Recently Viewed</p>
                                        <p class="firbox-stxt">View More<i class="fas fa-chevron-right"></i></p>
                                    </div>
                                    <div class="firbox-gallery">
                                <% recents.forEach(recent => { %>
                                 <!--<a href="/phones/<%= recent.item.name%>">-->   
        
                                        <div class="firbox-box">

                                            <% if(recent.item.discount) {%>
                                                <div id="rectangle"><%= recent.item.discount %></div>
                                                <% } %>

                                            <a href="/phones/<%= recent.item.name%>"><img src="<%= recent.item.img %>" alt="demo" class="fir-img"></a>

                                            <% if(recent.item.vendor) { %>
                                    
                                                <img src="<%= recent.item.vendor %>" alt="vendor-logo" class="product-logo">
                                                <% } else { %>
                                                    <img aria-describedby="caption-attachment-27644" class="product-logo" src="https://cdn.freelogovectors.net/wp-content/uploads/2019/02/jumia-logo.png" alt="Jumia Logo png" width="380" height="84" title="Jumia Logo png image">
                
                
                                                    <% } %>


                                            <p id="price-box"><%= recent.item.name.substring(0,31)%></p>
                                            <p id="new-price-box"><%= recent.item.price%></p>
                                            <p id="old-price-box"><%= recent.item.old_price %></p>
                                        </div>
    
                                       
                                  <!--</a>-->  
                                    <% }) %>

                                </div>
                        
                            </div>
       
                                    
                                    <% } else {%>
                                        <div class="firbox">
                                            <div class="firbox-heading">
                                                <p class="firbox-btxt">Products You May Also Like</p>
                                                <p class="firbox-stxt">View More<i class="fas fa-chevron-right"></i></p>
                                            </div>
                                            <div class="firbox-gallery">

                                        <% goldrush.forEach(recent => { %>
                             <!--<a href="/phones/<%= recent.name%>"> -->              
        
                                                <div class="firbox-box">

                                                    <% if(recent.discount) {%>
                                                        <div id="rectangle"><%= recent.discount %></div>
                                                        <% } %>

                                                    <a href="/phones/<%= recent.name%>"><img src="<%= recent.img %>" alt="demo" class="fir-img"></a>

                                                    <% if(recent.vendor) { %>
                                            
                                                        <img src="<%= recent.vendor %>" alt="vendor-logo" class="product-logo">
                                                        <% } else { %>
                                                            <img aria-describedby="caption-attachment-27644" class="product-logo" src="https://cdn.freelogovectors.net/wp-content/uploads/2019/02/jumia-logo.png" alt="Jumia Logo png" width="380" height="84" title="Jumia Logo png image">
                        
                        
                                                            <% } %>


                                                    <p id="price-box"><%= recent.name.substring(0,41)%></p>
                                                    <p id="new-price-box"><%= recent.price%></p>
                                                    <p id="old-price-box"><%= recent.old_price %></p>
                                                </div>
            
                                               
                               <!--</a> -->           
                                            <% }) %>
                                        </div>
                        
                                    </div>
               



                                        <% } %>                        
                
                </div> 


                <div class="secondfour">
                    <p id="closing-txt">Eazycart.com is Nigeria’s leading online price comparison site that allows you to shop online for the best deals and lowest prices. Our mission is to help consumers use the power of information to easily find, compare and buy products online in less time and for the best price. You can read unbiased product reviews and compare prices online. Online shopping has never been as easy! Browse our large selection of fashion, clothing, consumer electronics, home and kitchen products. </p>

                </div>
            
            </div>

        </div>

        <div class="footer">
           
            <div class="list-footer">
                <div class="footera">
                    <div class="a">
                        <p id="footer-head">About EaziCart</p>
                        <ul>
                        <li>Home</li>
                        <li>About Us</li>
                        <li>Our Blog</li>
                        <li>Contact Us</li>
                        <li>Privacy</li>
                        <li>User Agreement</li>
                        </ul>
                    </div>
                    
                    <div class="c">
                        <p id="footer-head">Follow</p>
                        <ul>
                        <li>Instagram</li>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        </ul>
                    </div>
                    <div class="d">
                        <p id="footer-head">Download & Connect with us</p>
                        <div class="store-img">
                           <a href=""><i class="fab fa-google-play play-img"></i></a> 
                           <a href=""><i class="fab fa-apple play-img"></i></a> 
                        </div>
                        <div class="f-contact">
                            <div class="f-font-mail">
                                <i class="fas fa-envelope"></i>
                            </div>
                            <div class="f-text-mail">
                                <p id="f-support">E-Mail Support</p>
                                <p id="f-mail">eazicart22@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footerb">
                    <p class="copyright-text">Copyrigth &copy; 2020 EaziCart.com All rights Reserved</p>
                </div>

            </div>
        </div>
        
        <script>
            document.querySelector(".drip-down").addEventListener("click", function(){
                console.log('hello')
                  this.classList.toggle("active");
            });
            document.querySelector("#slide-in").addEventListener("click", function(){
                console.log('hello')
                  this.classList.toggle("active");
            });
        </script>

</body>
</html>