<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="	https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.1/css/all.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/category.css">
    <title>EaziCart | Phones</title>
</head>
<body>
    <div class="header">
        <div class="head1">
            <div class="sub-header1">
                <a href="/"><img src="./img/EaziCart logo-White.svg" alt="logo" class="logo"></a> 
                <form id="search-form">
                    <div id="font-input-box">
                        <i class="fas fa-search"></i><input type="text" id="search-input" placeholder="Search For Items, Brands And Juicy Items">
                    </div>
                    <button type="submit" id="search-btn">Search</button>
                </form>
              </div>
            <div class="sub-header2">
                 <ul id="top">
                     <li id="li"><i class="fas fa-user"></i></li>
                     <a href="/carts"><li id="li"><i class="fas fa-heart"></i></li></a>
                     
                     <li id="li"><i class="fas fa-bell"></i></li>
                     <li id="li"><i class="far fa-question-circle"></i></li>
                 </ul>
            </div>
        </div>
        
            
    </div>

    <div class="main-container">

        <div class="first-part">
            <div id="background">
                <div class="head2">
                    <ul id="below">
                        <li>All Categories<i class="fas fa-bars"></i></li>
                        <li><i class="fas fa-mobile"></i>Phones</li>
                        <li><i class="fas fa-laptop"></i>Computer & Accessories</li>
                        <li><i class="fas fa-tv"></i>Eletronics</li>
                        <li><i class="fas fa-tshirt"></i>Fashion</li>
                        <li><i class="fas fa-home"></i>Home & Kitchen</li>
                        <li><i class="far fa-building"></i>Office</li>
                    </ul>
                 </div>
                 <div class="head3">
                    <div class="cat-section-text">
                        <p><span id="home">Home<i class="fas fa-chevron-right"></i></span><span id="category">Phones</span></p>
                    </div>

                    <div class="carousel">
                        <div class="font-categories" id="imgs">
                           
                            <img src="https://cdn57.androidauthority.net/wp-content/uploads/2020/02/samsung-galaxy-a71.jpg" alt="" class="img-carousel">
                            <img src="https://m-cdn.phonearena.com/images/article/126258-two_1200/How-low-can-5G-phones-go-Samsungs-Galaxy-A32-may-hold-the-answer.jpg" alt="" class="img-carousel">
                            <img src="https://m-cdn.phonearena.com/images/article/126258-two_1200/How-low-can-5G-phones-go-Samsungs-Galaxy-A32-may-hold-the-answer.jpg" alt="" class="img-carousel">
                            <img src="https://cdn57.androidauthority.net/wp-content/uploads/2020/02/samsung-galaxy-a71.jpg" alt="" class="img-carousel">
                            
                            
                        </div>

                    </div>

                    

                 </div>
                 
            </div>
           
            <div id="top-picks">
                <div class="picks-text">
                    <p id="picks-btxt">Top Picks for You</p>
                    <p id="picks-stxt"><span id='txt'>See All</span> <i class="fas fa-chevron-right"></i></p>
                </div>

                <hr>
                
                <div class="top-gallery">
                    <div class="top-pack">
                        <div id="rectangle">78% 0ff</div>
                        <div class="top-box">
                            
                            <img src="./img/OIP.jpg" alt="top-product" class="top-img">
                            <img src="./img/playstore.jpg" alt="vendor-logo" class="top-logo">
                        </div>
                        <p class="top-name">jumi hot Infinix with guanrante of tow year with free delievry around in lagoss</p>
                        <p class="top-price">₦ <span id="top-price-span"></span>00000</p>
                        <p class="top-old-price">₦ <span id="top-old-price-span"></span>00000</p>
                    </div>


                    <div class="top-pack">
                        <div id="rectangle">78% 0ff</div>
                        <div class="top-box">
                            
                            <img src="./img/OIP.jpg" alt="top-product" class="top-img">
                            <img src="./img/playstore.jpg" alt="vendor-logo" class="top-logo">
                        </div>
                        <p class="top-name">jumi hot Infinix with guanrante of tow year with free delievry around in lagoss</p>
                        <p class="top-price">₦ <span id="top-price-span"></span>00000</p>
                        <p class="top-old-price">₦ <span id="top-old-price-span"></span>00000</p>
                    </div>

                    <div class="top-pack">
                        <div id="rectangle">78% 0ff</div>
                        <div class="top-box">
                            
                            <img src="./img/OIP.jpg" alt="top-product" class="top-img">
                            <img src="./img/playstore.jpg" alt="vendor-logo" class="top-logo">
                        </div>
                        <p class="top-name">jumi hot Infinix with guanrante of tow year with free delievry around in lagoss</p>
                        <p class="top-price">₦ <span id="top-price-span"></span>00000</p>
                        <p class="top-old-price">₦ <span id="top-old-price-span"></span>00000</p>
                    </div>

                    <div class="top-pack">
                        <div id="rectangle">78% 0ff</div>
                        <div class="top-box">
                            
                            <img src="./img/OIP.jpg" alt="top-product" class="top-img">
                            <img src="./img/playstore.jpg" alt="vendor-logo" class="top-logo">
                        </div>
                        <p class="top-name">jumi hot Infinix with guanrante of tow year with free delievry around in lagoss</p>
                        <p class="top-price">₦ <span id="top-price-span"></span>00000</p>
                        <p class="top-old-price">₦ <span id="top-old-price-span"></span>00000</p>
                    </div>

                    <div class="top-pack">
                        <div id="rectangle">78% 0ff</div>
                        <div class="top-box">
                            
                            <img src="./img/OIP.jpg" alt="top-product" class="top-img">
                            <img src="./img/playstore.jpg" alt="vendor-logo" class="top-logo">
                        </div>
                        <p class="top-name">jumi hot Infinix with guanrante of tow year with free delievry around in lagoss</p>
                        <p class="top-price">₦ <span id="top-price-span"></span>00000</p>
                        <p class="top-old-price">₦ <span id="top-old-price-span"></span>00000</p>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="second-part">
            
            <div class="products-section">
                <div class="products-heading">
                    <p id="product-category">Men's Fashion</p>
                    <div id="sort-div">
                           <p>Sort By: Popularity <i class="fas fa-angle-down"></i></p>  
                    </div>
                </div>
                <hr>
                <div class="products-details">
                    <div class="products-count"> 
                        <p>
                            <span id="numbers-results">1000</span> Products Found
                        </p>
                    </div>
                    <div class="display-icon">
                        <i class="fas fa-th" id="row-icon"></i>
                        <i class="fas fa-list-ul" id="column-icon"></i>
                    </div>
                </div>
                <hr>
                <div class="products-gallery">
                    
                    <% if(phones.length > 0) { %>
                        <% phones.forEach(phone => { %>
                            <div class="product-pack">
                                <div id="inputs">
                                    <i class="fas fa-heart like-btn"></i>
                                    <input type="checkbox" name="" id="like-input">
                                </div>
                                
                                    <img src="<%= phone.img %>" alt="top-product" class="product-img">
                                    
                                    <p class="product-name"><%= phone.name %></p>
                                    <p class="product-price"><%= phone.price %></p>
                                    <div id="old-price-discount">
                                        <p class="product-old-price"><%= phone.old_price %></p>
                                        <p class="product-discount"><%= phone.discount %></p>
                                    </div>
                                            
                                        <img src="<%= phone.logo %>" alt="vendor-logo" class="product-logo">
                            
                                        <a href="/phones/<%= phone._id %>"><button class="details-btn">Details</button></a>
                                
                            </div>

                        <% }) %>
                   <% } %>
                    
                    
                    
                   

                </div>
                <div class="page-number">
                    <button class="prev"> Prev</button>
                    
                    <div class="page">Page <span class="page-numbers"></span></div>
                    <button class="next">Next</button>

                </div>
                

            </div>
        </div>

        <div class="third-part">
            <div id="recent-picks">
                <div class="recent-text">
                    <p id="recent-btxt">Recently Viewed</p>
                    <p id="recent-stxt"><span id='txt'>See All</span> <i class="fas fa-chevron-right"></i></p>
                </div>
                <div class="recent-gallery">
                    <div class="recent-pack">
                        <p class="recent-discount">discount</p>
                        <div class="recent-box">
                            
                            <img src="./img/OIP.jpg" alt="top-product" class="recent-img">
                            <img src="./img/playstore.jpg" alt="vendor-logo" class="recent-logo">
                        </div>
                        <p class="recent-name">product</p>
                        <p class="recent-price">New Price</p>
                        <p class="recent-old-price">Old Price</p>
                    </div>
                    <div class="recent-pack">
                        <p class="recent-discount">discount</p>
                        <div class="recent-box">
                            
                            <img src="./img/OIP.jpg" alt="top-product" class="recent-img">
                            <img src="./img/playstore.jpg" alt="vendor-logo" class="recent-logo">
                        </div>
                        <p class="recent-name">product</p>
                        <p class="recent-price">New Price</p>
                        <p class="recent-old-price">Old Price</p>
                    </div>
                    <div class="recent-pack">
                        <p class="recent-discount">discount</p>
                        <div class="recent-box">
                            
                            <img src="./img/OIP.jpg" alt="top-product" class="recent-img">
                            <img src="./img/playstore.jpg" alt="vendor-logo" class="recent-logo">
                        </div>
                        <p class="recent-name">product</p>
                        <p class="recent-price">New Price</p>
                        <p class="recent-old-price">Old Price</p>
                    </div>
                    <div class="recent-pack">
                        <p class="recent-discount">discount</p>
                        <div class="recent-box">
                            
                            <img src="./img/OIP.jpg" alt="top-product" class="recent-img">
                            <img src="./img/playstore.jpg" alt="vendor-logo" class="recent-logo">
                        </div>
                        <p class="recent-name">product</p>
                        <p class="recent-price">New Price</p>
                        <p class="recent-old-price">Old Price</p>
                    </div>
                    <div class="recent-pack">
                        <p class="recent-discount">discount</p>
                        <div class="recent-box">
                            
                            <img src="./img/OIP.jpg" alt="top-product" class="recent-img">
                            <img src="./img/playstore.jpg" alt="vendor-logo" class="recent-logo">
                        </div>
                        <p class="recent-name">product</p>
                        <p class="recent-price">New Price</p>
                        <p class="recent-old-price">Old Price</p>
                    </div>
                   
                    
                </div>
            </div>
            <div class="closing-txt">
                <p id="closing-txt">Eazycart.com is Nigeria’s leading online price comparison site that allows you to shop online for the best deals and lowest prices. Our mission is to help consumers use the power of information to easily find, compare and buy products online in less time and for the best price. You can read unbiased product reviews and compare prices online. Online shopping has never been as easy! Browse our large selection of fashion, clothing, consumer electronics, home and garden producsts now </p>
            </div>
        
        </div>
    </div>

    <div class="footer">
        
        <div class="list-footer">
            <div class="footera">
                <div class="a">
                    <p id="footer-head">About EaziCart</p>
                    <ul>
                    <li>Home</li>
                    <li>About Us</li>
                    <li>Our Blog</li>
                    <li>Contact Us</li>
                    <li>Privacy</li>
                    <li>User Agreement</li>
                    </ul>
                </div>
                <div class="b">
                    <p id="footer-head">Helpful stuff</p>
                    <ul>
                    <li>Site Index</li>
                    <li>FAQ</li>
                    <li>Blah</li>
                    </ul>
                </div>
                <div class="c">
                    <p id="footer-head">Follow</p>
                    <ul>
                    <li>Instagram</li>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    </ul>
                </div>
                <div class="d">
                    <p id="footer-head">Download & Connect with us</p>
                    <div class="store-img">
                       <a href=""><i class="fab fa-google-play play-img"></i></a> 
                       <a href=""><i class="fab fa-apple play-img"></i></a> 
                    </div>
                    <div class="f-contact">
                        <div class="f-font-mail">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div class="f-text-mail">
                            <p id="f-support">E-Mail Support</p>
                            <p id="f-mail">help@eazicart.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footerb">
                <p class="copyright-text">Copyrigth &copy; 2020 EaziCart.com All rights Reserved</p>
            </div>

        </div>
    </div>
 <script src="./script/phone.js"></script>
</body>
</html>

