<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="	https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.1/css/all.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/shoppingcart.css">
    <title>EaziCart | Saved Items</title>
</head>
<body>
    <div class="header">
        <div class="head1">
            <div class="sub-header1">
                <a href="/"><img src="./img/EaziCart logo-White.svg" alt="logo" class="logo"></a> 
                <form id="search-form" action="/search" method="GET">
                    <div id="font-input-box">
                        <i class="fas fa-search"></i><input name="dsearch" type="text" id="search-input" placeholder="Search For Items, Brands And Juicy Items">
                    </div>
                    <button type="submit" id="search-btn">Search</button>
                </form>
              </div>
            <div class="sub-header2">
                 <ul id="top">
                     <li id="li"><i class="fas fa-user"></i></li>
                     <a href="/carts"><li id="li"><i class="fas fa-heart"></i></li></a>
                     <li id="li"><i class="fas fa-bell"></i></li>
                     <a href="/about-us"><li id="li"><i class="far fa-question-circle"></i></li>
                     </ul>
            </div>
        </div>
        
            
    </div>

    <div class="main-container">
        <div class="cat-section-text">
            <p><span id="home">Home<i class="fas fa-chevron-right fa-sm"></i></span>
                <span id="main-section">Saved Items</span></p>
        </div>  
        <p id="pp">Saved Items</p>

        <% if(total) { %>
            <p id="items"><%= total %> item(s)</p>
            
                <% } else { %>
                    <p id="items">0</p>
                    <% } %>


        
        <div class="saved-contents">
            
            <% if(phoneCarts) { %>
                <% phoneCarts.forEach(phone => { %>
                    
                        <div id="saved-contents">
                            <a href="/remove-cart/<%= phone.item._id %>"><div id="rm-rf"><i class="far fa-trash-alt"></i></div></a>
                            
                            <img id="saved-img" src="<%= phone.item.img %>">
                            <div id="saved-content">
                                <p class="apple"><%= phone.item.name %></p>
                            
                                <p id="amount"><%= phone.item.price %></p>
                                <p id="discount"><%= phone.item.old_price %></p>
                                <p class="discount"><%= phone.item.discount %></p>
                                <hr>
                                <p id="detail"> 
                                </p>
                                <a href="<%= phone.item.url %>" target="_blank"><button id='osp-store-btn'><i class="fas fa-shopping-bag"></i> <p>Go to Store</p></button></a>
                                <a href="/phones/<%= phone.item._id %>">  <button id="notify">Notify Me of Price Drop</button></a>
                            </div>
                        </div>
                   



                    <% }) %>
                    <% } %>
        
            

        </div>
       

        
        <div class="third-part">
            <div class="closing-txt">
                <p id="closing-txt">Eazycart.com is Nigeria’s leading online price comparison site that allows you to shop 
                    online for the best deals and lowest prices. Our mission is to help consumers use the power of information to easily find,
                     compare and buy products online in less time and for the best price. You can read unbiased product reviews and compare 
                     prices online. Online shopping has never been as easy! Browse our large selection of fashion, clothing, consumer 
                     electronics, home and garden producsts now 
                </p>
            </div>
        
        </div>
    </div>

    <div class="footer">
        
            <div class="footera">
                <div class="flex">
                    <div class="a">
                        <p id="footer-head">About EaziCart</p>
                        <ul>
                        <li>Home</li>
                        <li>About Us</li>
                        <li>Our Blog</li>
                        <li>Contact Us</li>
                        <li>Privacy</li>
                        <li>User Agreement</li>
                        </ul>
                    </div>
    
                    <div class="b">
                        <p id="footer-head">Helpful stuff</p>
                        <ul>
                        <li>Site Index</li>
                        <li>FAQ</li>
                        <li>Blah</li>
                        </ul>
                    </div>
    
                    <div class="c">
                        <p id="footer-head">Follow</p>
                        <ul>
                        <li>Instagram</li>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        </ul>
                    </div>

                </div>
                <div class="d">
                    <p id="footer-head">Download & Connect with us</p>
                    <div class="store-img">
                       <a href=""><i class="fab fa-google-play play-img"></i></a> 
                       <a href=""><i class="fab fa-apple play-img"></i></a> 
                    </div>
                    <div class="f-contact">
                        <div class="f-font-mail">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div class="f-text-mail">
                            <p id="f-support">E-Mail Support</p>
                            <p id="f-mail">help@eazicart.com</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footerb">
                <p class="copyright-text">Copyrigth &copy; 2020 EaziCart.com All rights Reserved</p>
            </div>

        
    </div>
  <!--<script src="../script/men.js"></script> --> 
</body>
</html>